  .link21 {
    color: var(--theme-color-secondary);
    /* font-weight: 600; */
    font-size: 1rem;
  }
  
  .link21:hover {
    color: var(--theme-color-secondary);
    transition: all 0.3s;
  }
  
  @media only screen and (max-width: 900px) {
    .drawer-div {
      width: 250px;
      background-color: var(--theme-bg-color-primary);
      height: 100vh;
      padding: 15px;
      padding-top: 10px;
    }
  }